# Expo
.expo/
dist/
web-build/

# Native
android/
ios/

# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Debugging
npm-debug.*
yarn-debug.*
yarn-error.*

# Misc
.DS_Store
*.pem
*.p12
*.mobileprovision

# Typescript
*.tsbuildinfo
